In [1]:
import pandas as pd

In [2]:
# load data
df = pd.read_csv("combine.csv")
df.head()

,Date,Close,ma_5,ma_10,ma_20,ma_30,ma_60,ma_90,ma_180,ma_240,...,Nasdaq_diff,SP500_diff,INDU_diff,Oil_diff,Btc_diffpct,Gold_diffpct,Nasdaq_diffpct,SP500_diffpct,INDU_diffpct,Oil_diffpct
0,2012-01-03,5.32,4.975,4.975000,4.975000,4.975000,4.975000,4.975000,4.975000,4.975000,...,0.00,0.00,0.00,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2012-01-04,5.57,5.094,5.094000,5.094000,5.094000,5.094000,5.094000,5.094000,5.094000,...,-0.36,0.24,21.04,0.8793,0.046992,0.014944,-0.000136,0.000188,0.001697,0.019997
2,2012-01-05,6.65,5.508,5.353333,5.353333,5.353333,5.353333,5.353333,5.353333,5.353333,...,21.50,3.76,-2.72,0.0000,0.193896,-0.004148,0.008118,0.002944,-0.000219,0.000000
3,2012-01-06,6.90,5.888,5.574286,5.574286,5.574286,5.574286,5.574286,5.574286,5.574286,...,4.36,-3.25,-55.78,0.0000,0.037594,-0.009996,0.001633,-0.002537,-0.004493,0.000000
4,2012-01-09,6.90,6.850,5.972000,5.972000,5.972000,5.972000,5.972000,5.972000,5.972000,...,2.34,2.89,32.77,0.0000,0.000000,0.003576,0.000875,0.002262,0.002651,0.000000

In [3]:
# define to check if close price increased compare to the previous close
df["Trend"] = df.apply(lambda x: "up" if x["Btc_diff"] > 0 else ("down" if x["Btc_diff"] <0 else "nc"), axis=1)

In [4]:
df[["Date", "Trend"]]

            Date Trend
0     2012-01-03    nc
1     2012-01-04    up
2     2012-01-05    up
3     2012-01-06    up
4     2012-01-09    nc
...          ...   ...
2318  2021-03-25  down
2319  2021-03-26    up
2320  2021-03-29    up
2321  2021-03-30    up
2322  2021-03-31  down

[2323 rows x 2 columns]

In [5]:
ind_train_start = 361
ind_test_start = int((len(df) - 360) * 0.8)

In [6]:
df.columns

Index(['Date', 'Close', 'ma_5', 'ma_10', 'ma_20', 'ma_30', 'ma_60', 'ma_90',
       'ma_180', 'ma_240', 'ma_360', 'Gold', 'Nasdaq_Comp', 'SP500', 'INDU',
       'Oil', 'Btc_diff', 'Gold_diff', 'Nasdaq_diff', 'SP500_diff',
       'INDU_diff', 'Oil_diff', 'Btc_diffpct', 'Gold_diffpct',
       'Nasdaq_diffpct', 'SP500_diffpct', 'INDU_diffpct', 'Oil_diffpct',
       'Trend'],
      dtype='object')

In [8]:
X = df[["ma_5", "ma_10", "ma_20", "ma_30", "ma_60", "ma_90", "ma_180", "ma_240", "ma_360"]]
y = df[["Trend"]]